/* Estilos gerais do Footer */
.footer {
  width: 100%;
  background-color: rgb(33, 25, 46);
  /* Fundo cinza escuro */
  color: purple;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-content {
  text-align: center;
  margin-bottom: 1rem;
}

.footer-text {
  font-size: 1rem;
}

.footer-page {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.footer-link {
  font-size: 1.125rem;
  color: #e2e8f0;
  /* Cinza claro */
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: white;
  /* Altera para branco ao passar o mouse */
}

/*fit to tablet*/
@media(max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}

/*fit to large phone*/
@media(max-width: 425px) {
  .footer {
    padding: 1rem 1.5rem;
  }
}

/*fit to small phone*/
@media(max-width: 320px) {
  .footer {
    padding: 0.5rem 1rem;
  }
}