/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
  box-shadow: inset 0px 0px 50px 0px rgba(117, 2, 117, 0.7);
}

.header {
  background-color: gray;
  border-radius: 5rem;
}

.flatMenu {
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
  transition: transform 0.5s ease, box-shadow 1s ease;
}

.optionMenu {
  background-color: gray;
  border: 0.2rem solid black;
  color: white;
  width: 10%;
}

.optionMenu:hover {
  background-color: black;
  transform: perspective(2rem) rotateX(0deg) rotateY(5deg);
  box-shadow: 0px 10px 0px white;
}

.presentationHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: aliceblue;
  font-family: cursive;
  height: auto;
  width: 100%;
  margin-top: 5%;
}

.presentation {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.presentation > h1 {
  font-size: 2rem;
}

.presentation > h3 {
  width: fit-content;
  padding: 0 1%;
  font-size: 1rem;
  margin-bottom: 1%;
  background-color: rgb(94, 93, 93);
  border: 1px solid white;
  border-radius: 10rem;
}

.presentation > p {
  text-align: justify;
  font-size: 1.2rem;
  margin-top: 5%;
  color: purple;
}


#personalPhoto {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  color: white;
}

h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.skillContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 5rem 1rem;
}

.skillCategory {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillCategory > ul > li {
  margin-top: 2em;
}

.skillCategory > ul {
  margin: 2em;
}

.skillCategory > h3 {
  color: white;
  border: 0.2rem solid white;
  border-radius: 1rem;
  padding: 1rem;
}

.subSkill {
  list-style-type: '- ';
  color: purple;
  margin-left: 2em;
}

/* Media Queries */

/* Tablets */
@media (max-width: 1024px) {
  .presentationHeader {
    flex-direction: column;
  }

  .presentation {
    width: 70%;
  }

  .skillContainer {
    grid-template-columns: 1fr;
  }
}

/* Large Phones */
@media (max-width: 425px) {
  .optionMenu {
    width: 80%;
  }

  .presentation {
    width: 90%;
  }

  #personalPhoto {
    width: 70%;
  }
}

/* Small Phones */
@media (max-width: 320px) {
  .optionMenu {
    width: 95%;
  }

  .presentation {
    width: 100%;
  }

  #personalPhoto {
    width: 80%;
  }
}